body { 

	font-family: 'Passion One', cursive;
    background-image: url('../images/starwarsbackground6.jpg');
}

.title h1 {
	font-weight: bolder;
	color: yellow;
	float: right;
}

.bodytxt h3 {

	color: #000000;

}